.vs/
.idea/
*.user

.DS_Store
Thumbs.db
Thumbs.db.meta

*.csproj
*.sln
logs
obj
Library/
UserSettings/Layouts
Temp

UserSettings/*
Assets/Plugins/Editor/JetBrains
Assets/Plugins/Editor/JetBrains.meta

Assets/FR2_*
Assets/Temp/FR2_*

Assets/Scripts/Bro/Solutions/.obj
Assets/Scripts/Bro/Solutions/.bin
Assets/Scripts/Bro/Solutions/.idea


# ADD YOUR CUSTOM IGNORE BELOW
Assets/Plugins/Editor.meta
ProjectSettings/RiderScriptEditorPersistedState.asset
UserSettings/EditorUserSettings.asset